/**
 * Tailwind's utility classes, generated based on your config file.
 */

@tailwind utilities;

.animate-ping {
    animation: ping 1s cubic-bezier(0.9, 0.9, 1, 1) infinite !important;
}

@keyframes ping {

    90%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}